[submodule "opencl-headers"]
	path = external/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "opencl-docs"]
	path = external/OpenCL-Docs
	url = https://github.com/KhronosGroup/OpenCL-Docs.git
[submodule "cli11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
